.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.2em;
    cursor: pointer;
}
  
.button:hover {
    cursor: pointer;
    background-color: var(--vscode-button-secondaryHoverBackground);
    color: var(--vscode-button-secondaryForeground);
}

.button.md {
    padding: 0.5rem;
}

.button.sm {
    padding: 0.25rem;
}

.button.text {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    /* padding: 5px; */
    cursor: pointer;
}

.button.submit {
    border: none;
    padding: 5px;
    background-color: none;
}

.button.submit:hover{
    background-color: var(--vscode-button-secondaryHoverBackground);
    border-radius: 0;
    color: white;
}

.button.danger {
    color: red;
    background-color: white;
}

.button.danger:hover {
    background-color: rgb(246, 68, 68);
    color: white;
    border-radius: 0;
}

.button.secondary {
    border: 1px solid var(--vscode-button-secondaryHoverBackground);
    border-radius: 5px;
}

.button.secondary:hover {
    background-color: var(--vscode-button-secondaryHoverBackground); 
    color: var(--vscode-button-secondaryHoverForeground);
    border-radius: 5px;
}

.icon {
    padding: 0;
    align-items: center;
}