.copilot-container {
  padding: 0 var(--container-paddding);
  overflow-y: scroll;
  height: 100vh;
}

.copilot-container textarea {
  flex-grow: 1;
  height: auto;
  resize: none;
  overflow: hidden;
  min-height: 25px;
  border-bottom: 1px solid var(--vscode-disabledForeground);
}

.copilot-container .checkbox {
  padding-top: 0.1rem;
}

.copilot-container label {
  margin-bottom: 0.1rem;
}
