.segmentedControlContainer {
    display: flex;
    justify-content: center;
    padding: 0.25rem;
}

.label-holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.25rem;
    padding: 0.25rem; 
}

.filter-menu-label {
    white-space: nowrap;
    overflow: hidden;  
    text-overflow: ellipsis; 
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    padding: 0 0.5rem;
}

label {
    margin-bottom: 0.25rem;
}