
.dropdown-btn {
    border: none;
    padding: 0 0.25rem;
    align-items: center;
}

.dropdown-menu {
    font-weight: 400;
    min-width: 6rem;
    padding: 0.25rem 0;
}

.divider {
    height: 1px;
    background-color: #c3c0c0;
}