.ql-toolbar.ql-snow {
    border-radius: 0.2em 0.2em 0 0;
}

pre.ql-syntax, .ql-snow .ql-editor pre.ql-syntax {
    background-color: var(--vscode-editor-background);
    color: var(--vscode-editor-foreground);
    padding: 5px 10px;
    border-radius: 0.2em;
    border: 1px solid var(--vscode-editorGroup-border);
}