.reply-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0;
}
  
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reply-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(46, 48, 48);
    padding: 0.5rem;
    gap: 0.25;
    border-radius: 5px;
    border: 2px;
    margin-bottom: 0.5rem;
}

.reply-card-footer {
    display: flex;
    padding-top: 0.5rem;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.25rem;
}

.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    padding-bottom: 0.5rem;
    align-items: center;
}

#replyViewerEditor{
    background-color: var(--vscode-input-background);
    width: 100%;
    height: 100px;
    resize: both; 
    overflow: auto;
}

.checkbox {
    display: flex;
    padding-top: 0.5rem;
    gap: 0.5rem;
    text-align: center;
    font-size: 14px;
}