
.thread-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0;
}
  
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
.thread-card {
    display: flex;
    flex-direction: column;
    background-color: var(--vscode-input-background);
    padding: 0.5rem;
    border-radius: 0.2em;
    border: 2px;
    margin: 0.5rem 0;
}
  
.thread-editor-footer {
    display: flex;
    padding-top: 0.5rem;
    flex-direction: row;
    justify-content: flex-end;
}

#textEditor {
    background-color: var(--vscode-input-background);
    width: 100%;
    height: 150px;
    resize: both; 
    overflow: auto;
    border: none;
    border-radius: 0.2em;
    resize: vertical;
}