
.project-info {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: large;
    font-weight: 400;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    margin-right: 0.75rem;
}

.icon-container {
    display: flex;
    width: 10%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.25rem;
}